p {
    background-color: rgb(185, 141, 104);
    border-width: 5px;
    border-color: rgb(70, 46, 36);
    border-style: solid;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
} 

a {
    background-color: rgb(185, 141, 104);
    border-width: 5px;
    border-color: rgb(70, 46, 36);
    border-style: solid;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
} 

body{
    background-color: rgb(186, 186, 186);
}

nav {
    font-weight: bold;
}

header {
      background-color: rgba(208, 190, 169, 0.9);
      text-align: center;
      color: rgb(39, 27, 21);
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 3%;
      margin-bottom: 3%;
      padding: 40px;
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
      font-size: 18px;
      font-family: monospace;
      border-width: 8px;
      border-radius: 6px;
      border-color: rgb(70, 46, 36);;
      border-style: solid;
}

.container {
    max-width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 2%;
    border-radius: 6px;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(87, 57, 45);;
    box-shadow: 5px 5px 10px rgba(69, 64, 64, 0.421);
    background-color:rgba(221, 202, 181, 0.9);
}

.container h1 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(39, 27, 21);
}

.container p {
    font-size: 17px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 40%;
    border-style: solid;
    border-color: rgb(87, 57, 45);
    border-width: 5px;
}  
